<!-- TODO dialog para confirmação de exclusão -->
<h3>Lista de Produtos</h3>
<div class="grid-listaproduto" *ngIf="listaProduto; else semProdutos">
    <a mat-raised-button routerLink="novo/produto">Novo</a>
    <mat-card class="example-card" *ngFor="let produto of listaProduto">
        <mat-card-header>
            <mat-card-title>{{ produto.titulo }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image id="foto" [src]='trataImagem(produto.foto)' alt="">
        <mat-card-content>
            <p>
                {{ produto.descricao }}
            </p>
    </mat-card-content>
        <mat-card-actions>
            <a mat-raised-button routerLink="editar/produto/{{ produto.id }}">Editar</a>
            <button mat-raised-button (click)="openDialogDelete(produto.id!)">Excluir</button>
        </mat-card-actions>
    </mat-card>
</div>
<app-pagination [pageSize]="pageSize" [pageIndex]="pageIndex" [length]="length" (page)="handlePageEvent($event)"></app-pagination>

<ng-template #semProdutos>
    <h3>Não existem produtos cadastrados</h3>
</ng-template>
